# Dependency directories
node_modules/

# Build files
/dist/
/.cache/
/.temp/
build/
.DS_Store

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Logs
npm-debug.log*

# Other
*.log
*.sqlite
*.swp
*.swo